# DB
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=user_backend
POSTGRES_PASSWORD=password_backend
POSTGRES_DB=db_backend

# Docker env
ENV=local

# Django
DJANGO_SETTINGS_MODULE=backend.config.settings.local
SECRET_KEY=django-insecure-vz6(oknn92np^q846iinj-ww3w+n$l$e-#ojbr$=0_gywxsd=y
